<ul>
{{#categories}}

    {{#unless isDefault}}
    <li>
	<strong>{{name}}</strong> - {{ slug }} 
	<a href="/admin/category/edit/{{ _id }}">Edit</a>
	<a href="/admin/category/delete/{{ _id }}" onclick="return confirm('Are you sure?')">Delete</a>
    </li>
    {{/unless}}

{{/categories}}
</ul>

<a href="/admin/category/add">Add Category</a>



