<div class="container">
    <h1>{{ title }}</h1>
    <p>Welcome to the admin panel...</p> 

    <a href="/admin/users">View Users</a>
    <a href="/admin/posts">View Posts</a>
    <a href="/admin/signups">View Sign Ups</a>
</div>


