<p>Welcome to the admin panel...</p> 

<ul>
    <li><a href="/admin/users">View Users</a></li>
    <li><a href="/admin/posts">View Posts</a></li>
    <li><a href="/admin/menus">View Menus</a></li>
    <li><a href="/admin/categories">View Categories</a></li>
    <li><a href="/admin/signups">View Sign Ups</a></li>
</ul>
