<div class="container">
    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }} the installation setup...</p>

    <form method="post" action="/install">
	<input name="sample" type="text" />
	<input type="submit" value="Install" />
    </form>

</div>


