<div class="container">
    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }} the installation setup...</p>

    {{#if installed}}
	<p>You have installed Tradewinds.</p>
	
	<p>Click <a href="/admin/login">here</a> to login to the admin panel.</p>
    {{else}}
	<form method="post" action="/install">
	    <label>Default User Name</label>
	    <input name="name" type="text" />
	    <label>Default User Password</label>
	    <input name="password" type="password" />
	    <label>Confirm Default User Password</label>
	    <input name="password2" type="password" />
	    <label>Default User Email</label>
	    <input name="email" type="text" />
	    <input type="submit" value="Submit" />
	</form>

    {{/if}}
</div>


