<form method="post" action="/admin/post/add">
    <label>Title</label> <input name="title" type="text" class="tw-admin-post-title" />
    <label>Date</label> <input name="date" type="text" class="tw-admin-post-datepicker" />
    <label>Slug</label> <input name="slug" type="text" class="tw-admin-post-slug" />
    <a href="#" class="tw-admin-convert-slug">Convert Title to Slug</a>
    
    <label>Category</label>

    <select name="category" class="tw-admin-post-category">
	{{#categories}}
	    <option value="{{_id}}" data-slug="{{ slug }}">{{name}}</option>
	{{/categories}}
    </select>
    
    <div class="clearout"></div>

    <label>Path</label> <span class="tw-admin-post-path"></span>

    <div class="clearout"></div>

    <label>Content</label> 

    <div class="clear"></div>

    <textarea name="content" class="tw-admin-editor"></textarea>
    <input name="_csrf" type="hidden" value="{{ csrftoken }}" />
    <input type="submit" value="Submit" />
</form>
