<div class="container">
    <h1>{{ title }}</h1>

    <ul>
    {{#signups}}
	<li>
	    <strong>ID:</strong> {{_id}} <strong>Name:</strong> {{name}} <strong>Email:</strong> {{email}} 
	</li>
    {{/signups}}
    </ul>

</div>


