<p>All of the users can be viewed below...</p>

<ul>
{{#users}}
    <li>
	<strong>Name:</strong> {{name}} <strong>Email:</strong> {{email}} 

	<a href="/admin/user/edit/{{ _id }}">Edit</a>

	{{#unless isDefault}}
	    <a href="/admin/user/delete/{{ _id }}" onclick="return confirm('Are you sure?')">Delete</a>
	{{/unless}}
    </li>
{{/users}}
</ul>

<a href="/admin/user/add" class="tw-button-medium tw-button-black-flat">Add User</a>




