<div class="user">

    {{#if userInfo.name}}
	Welcome {{ userInfo.name }} - <a href="/profile/logout">Logout</a>
    {{ else }}
	Welcome Guest. <a href="/profile/login">Login</a>
    {{/if}}

    

</div>


