<div class="container">
    <h1>{{ title }}</h1>
    <p>Welcome to your dashboard {{ userInfo.name }}... Click <a href="/profile/dashboard/edit">here</a> to edit your profile</p>

    <p>Click <a href="/profile/logout">here</a> to logout</p> 
</div>


