<div class="container">
    <h1>{{ title }}</h1>

    <form method="post" action="/signup">
	<label>Name</label> <input name="name" type="text" />
	<label>Password</label> <input name="password" type="password" />
	<label>Confirm Password</label> <input name="password2" type="password" />
	<label>E-Mail</label> <input name="email" type="text" />
	<input type="submit" value="Submit" />
    </form>

</div>


