<div class="notifications">
    
    {{#if notifications.success}}
    <div class="success">
	{{ notifications.success }}
    </div>
    {{/if}}
    
    {{#if notifications.error}}
    <div class="error">
	{{ notifications.error }}
    </div>
    {{/if}}

</div>


