body {
  font-family: Arial, sans-serif;
  font-size: 13px;
  background: #eee;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  width: 100%;
}
label {
  display: block;
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearout {
  clear: both;
  display: block;
  overflow: hidden;
  width: 0;
  height: 20px;
}
/**************************************************
DATEPICKER
***************************************************/
.ui-datepicker {
  display: none;
  background: #fff;
  /* Old browsers */

  background: #ffffff -moz-linear-gradient(top, #fcfcfc 0%, #ffffff 100%);
  /* FF3.6+ */

  background: #ffffff -webkit-linear-gradient(top, #fcfcfc 0%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */

  background: #ffffff -o-linear-gradient(top, #fcfcfc 0%, #ffffff 100%);
  /* Opera11.10+ */

  background: #ffffff -ms-linear-gradient(top, #fcfcfc 0%, #ffffff 100%);
  /* IE10+ */

  background: #ffffff linear-gradient(top, #fcfcfc 0%, #ffffff 100%);
  /* W3C */

  font-size: 11px;
  padding: 10px;
  border: 1px solid #ccc;
}
.ui-datepicker table {
  width: 278px;
}
.ui-datepicker table td {
  text-align: center;
}
.ui-datepicker a {
  cursor: pointer;
  text-decoration: none;
}
.ui-datepicker .ui-datepicker-next {
  float: right;
}
.ui-datepicker .ui-datepicker-title {
  text-align: center;
  font-weight: bold;
}
