body {
  font-family: Arial, sans-serif;
  font-size: 13px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  width: 100%;
}
a {
  text-decoration: none;
}
label {
  display: block;
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearout {
  clear: both;
  display: block;
  overflow: hidden;
  width: 0;
  height: 20px;
}
/**************************************************
ADMIN PANEL
***************************************************/
body.tw-admin {
  background: #eee;
  /*** Menu Sorter ***/
  /*** Date Picker ***/
}
body.tw-admin .tw-admin-menu-item-add {
  cursor: pointer;
}
body.tw-admin .tw-admin-menu-sorter {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body.tw-admin .tw-admin-menu-sorter a {
  cursor: pointer;
}
body.tw-admin .tw-admin-menu-sorter li {
  display: block;
  margin: 5px 0px;
  overflow: auto;
  border: 1px solid #333;
  padding: 5px;
  background: #ccc;
}
body.tw-admin .tw-admin-menu-sorter li a.tw-admin-menu-item-remove {
  float: right;
}
body.tw-admin .ui-datepicker {
  display: none;
  background: #fff;
  /* Old browsers */
  background: #ffffff -moz-linear-gradient(top, #fcfcfc 0%, #ffffff 100%);
  /* FF3.6+ */
  background: #ffffff -webkit-linear-gradient(top, #fcfcfc 0%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */
  background: #ffffff -o-linear-gradient(top, #fcfcfc 0%, #ffffff 100%);
  /* Opera11.10+ */
  background: #ffffff -ms-linear-gradient(top, #fcfcfc 0%, #ffffff 100%);
  /* IE10+ */
  background: #ffffff linear-gradient(top, #fcfcfc 0%, #ffffff 100%);
  /* W3C */
  font-size: 11px;
  padding: 10px;
  border: 1px solid #ccc;
}
body.tw-admin .ui-datepicker table {
  width: 278px;
}
body.tw-admin .ui-datepicker table td {
  text-align: center;
}
body.tw-admin .ui-datepicker a {
  cursor: pointer;
  text-decoration: none;
}
body.tw-admin .ui-datepicker .ui-datepicker-next {
  float: right;
}
body.tw-admin .ui-datepicker .ui-datepicker-title {
  text-align: center;
  font-weight: bold;
}
/**************************************************
NOTIFICATIONS
***************************************************/
.notifications .success {
  padding: 5px;
  border: 1px solid #090;
  color: #090;
  background-color: #9fc;
}
.notifications .warning {
  padding: 5px;
  border: 1px solid #fc0;
  color: #fc0;
  background-color: #ffc;
}
.notifications .error {
  padding: 5px;
  border: 1px solid #900;
  color: #900;
  background-color: #fc9;
}
.notifications .information {
  padding: 5px;
  border: 1px solid #036;
  color: #036;
  background-color: #9cf;
}
