body {
  font-family: Arial, sans-serif;
  font-size: 13px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  width: 100%;
}
a {
  text-decoration: none;
}
label {
  display: block;
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearout {
  clear: both;
  display: block;
  overflow: hidden;
  width: 0;
  height: 20px;
}
/**************************************************
GRID
***************************************************/
.row {
  width: 1230px;
  max-width: 100%;
  min-width: 768px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
}
.row .row {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0 -10px;
}
.column,
.columns {
  float: left;
  min-height: 1px;
  padding: 0 10px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
[class*="column"] + [class*="column"]:last-child {
  float: right;
}
[class*="column"] + [class*="column"].end {
  float: left;
}
.one,
.row .one {
  width: 8.33333%;
}
.two,
.row .two {
  width: 16.66667%;
}
.three,
.row .three {
  width: 25%;
}
.four,
.row .four {
  width: 33.33333%;
}
.five,
.row .five {
  width: 41.66667%;
}
.six,
.row .six {
  width: 50%;
}
.seven,
.row .seven {
  width: 58.33333%;
}
.eight,
.row .eight {
  width: 66.66667%;
}
.nine,
.row .nine {
  width: 75%;
}
.ten,
.row .ten {
  width: 83.33333%;
}
.eleven,
.row .eleven {
  width: 91.66667%;
}
.twelve,
.row .twelve {
  width: 100%;
}
.row:before,
.row:after {
  content: " ";
  display: table;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.row:after {
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/**************************************************
ADMIN PANEL
***************************************************/
body.tw-admin {
  background: #eee;
  /*** Menu Sorter ***/
  /*** Date Picker ***/
}
body.tw-admin label {
  font-weight: bold;
}
body.tw-admin input[type="text"],
body.tw-admin input[type="password"],
body.tw-admin textarea,
body.tw-admin select {
  display: block;
  padding: 6px 4px;
  outline: none;
  margin-bottom: 10px;
  max-width: 100%;
  border: 1px solid #ccc;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#ffffff));
  background: -webkit-linear-gradient(top, #fafafa, #ffffff);
  background: -moz-linear-gradient(top, #fafafa, #ffffff);
  background: -o-linear-gradient(top, #fafafa, #ffffff);
  background: -ms-linear-gradient(top, #fafafa, #ffffff);
}
body.tw-admin input[type="text"]:focus,
body.tw-admin input[type="password"]:focus,
body.tw-admin textarea:focus,
body.tw-admin select:focus {
  border: 1px solid #aaa;
  color: #444;
}
body.tw-admin .tw-admin-convert-slug {
  display: inline-block;
  margin-bottom: 10px;
}
body.tw-admin .mce-tinymce {
  display: block;
  margin-bottom: 10px;
}
body.tw-admin .tw-admin-menu-item-add {
  cursor: pointer;
}
body.tw-admin .tw-admin-menu-sorter {
  list-style-type: none;
  margin: 0;
  padding: 0;
  cursor: move;
}
body.tw-admin .tw-admin-menu-sorter label {
  cursor: move;
}
body.tw-admin .tw-admin-menu-sorter a {
  cursor: pointer;
}
body.tw-admin .tw-admin-menu-sorter li {
  display: block;
  margin: 5px 0px;
  overflow: auto;
  border: 1px solid #333;
  padding: 5px;
  background: #ccc;
}
body.tw-admin .tw-admin-menu-sorter li a.tw-admin-menu-item-remove {
  float: right;
}
body.tw-admin .ui-datepicker {
  display: none;
  background: #fff;
  /* Old browsers */
  background: #ffffff -moz-linear-gradient(top, #fcfcfc 0%, #ffffff 100%);
  /* FF3.6+ */
  background: #ffffff -webkit-linear-gradient(top, #fcfcfc 0%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */
  background: #ffffff -o-linear-gradient(top, #fcfcfc 0%, #ffffff 100%);
  /* Opera11.10+ */
  background: #ffffff -ms-linear-gradient(top, #fcfcfc 0%, #ffffff 100%);
  /* IE10+ */
  background: #ffffff linear-gradient(top, #fcfcfc 0%, #ffffff 100%);
  /* W3C */
  font-size: 11px;
  padding: 10px;
  border: 1px solid #ccc;
}
body.tw-admin .ui-datepicker table {
  width: 278px;
}
body.tw-admin .ui-datepicker table td {
  text-align: center;
}
body.tw-admin .ui-datepicker a {
  cursor: pointer;
  text-decoration: none;
}
body.tw-admin .ui-datepicker .ui-datepicker-next {
  float: right;
}
body.tw-admin .ui-datepicker .ui-datepicker-title {
  text-align: center;
  font-weight: bold;
}
/**************************************************
BUTTONS
***************************************************/
.tw-button-small,
.tw-button-medium,
.tw-button-large {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
.tw-button-small {
  font-size: 10px;
  font-weight: bold;
  padding: 2px 10px 4px 10px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.tw-button-medium {
  font-size: 11px;
  font-weight: bold;
  padding: 7px 15px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.tw-button-large {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
/**** GRADIENT BUTTON - Red ****/
.tw-button-red {
  color: #fff;
  text-shadow: 1px 1px 3px #666;
  border-color: #8a2029;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#e62222), to(#b82525));
  background: -webkit-linear-gradient(top, #e62222, #b82525);
  background: -moz-linear-gradient(top, #e62222, #b82525);
  background: -o-linear-gradient(top, #e62222, #b82525);
  background: -ms-linear-gradient(top, #e62222, #b82525);
}
.tw-button-red:hover {
  color: #fff;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#a10606), to(#a82222));
  background: -webkit-linear-gradient(top, #a10606, #a82222);
  background: -moz-linear-gradient(top, #a10606, #a82222);
  background: -o-linear-gradient(top, #a10606, #a82222);
  background: -ms-linear-gradient(top, #a10606, #a82222);
}
/**** GRADIENT BUTTON - Light Red ****/
.tw-button-lightred {
  color: #fff;
  border-color: #622929;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d55857), to(#bd4544));
  background: -webkit-linear-gradient(#d55857, #bd4544);
  background: -moz-linear-gradient(top, #d55857, #bd4544);
  background: -o-linear-gradient(top, #d55857, #bd4544);
  background: -ms-linear-gradient(top, #d55857, #bd4544);
}
.tw-button-lightred:hover {
  color: #fff;
  border-color: #af4949;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ed7574), to(#d55857));
  background: -webkit-linear-gradient(#ed7574, #d55857);
  background: -moz-linear-gradient(top, #ed7574, #d55857);
  background: -o-linear-gradient(top, #ed7574, #d55857);
  background: -ms-linear-gradient(top, #ed7574, #d55857);
}
/**** GRADIENT BUTTON - Yellow ****/
.tw-button-yellow {
  color: #785d00;
  text-shadow: 1px 1px 3px #f7dc7c;
  border-color: #d8a52a;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f6fa7b), to(#cacf30));
  background: -webkit-linear-gradient(top, #f6fa7b, #cacf30);
  background: -moz-linear-gradient(top, #f6fa7b, #cacf30);
  background: -o-linear-gradient(top, #f6fa7b, #cacf30);
  background: -ms-linear-gradient(top, #f6fa7b, #cacf30);
}
.tw-button-yellow:hover {
  color: #785d00;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d3d63e), to(#e7eb65));
  background: -webkit-linear-gradient(top, #d3d63e, #e7eb65);
  background: -moz-linear-gradient(top, #d3d63e, #e7eb65);
  background: -o-linear-gradient(top, #d3d63e, #e7eb65);
  background: -ms-linear-gradient(top, #d3d63e, #e7eb65);
}
/**** GRADIENT BUTTON - Orange ****/
.tw-button-orange {
  color: #b23d21;
  text-shadow: 1px 1px 3px #fcaf88;
  border-color: #F47A15;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffc677), to(#ffad65));
  background: -webkit-linear-gradient(top, #ffc677, #ffad65);
  background: -moz-linear-gradient(top, #ffc677, #ffad65);
  background: -o-linear-gradient(top, #ffc677, #ffad65);
  background: -ms-linear-gradient(top, #ffc677, #ffad65);
}
.tw-button-orange:hover {
  color: #b23d21;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffad65), to(#ffc677));
  background: -webkit-linear-gradient(top, #ffad65, #ffc677);
  background: -moz-linear-gradient(top, #ffad65, #ffc677);
  background: -o-linear-gradient(top, #ffad65, #ffc677);
  background: -ms-linear-gradient(top, #ffad65, #ffc677);
}
/**** GRADIENT BUTTON - Green ****/
.tw-button-green {
  color: #fff;
  text-shadow: 1px 1px 3px #666666;
  border-color: #4E612B;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#7fbf4d), to(#63a62f));
  background: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
  background: -moz-linear-gradient(top, #7fbf4d, #63a62f);
  background: -o-linear-gradient(top, #7fbf4d, #63a62f);
  background: -ms-linear-gradient(top, #7fbf4d, #63a62f);
}
.tw-button-green:hover {
  color: #fff;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#76b347), to(#5e9e2e));
  background: -webkit-linear-gradient(top, #76b347, #5e9e2e);
  background: -moz-linear-gradient(top, #76b347, #5e9e2e);
  background: -o-linear-gradient(top, #76b347, #5e9e2e);
  background: -ms-linear-gradient(top, #76b347, #5e9e2e);
}
/**** GRADIENT BUTTON - Blue ****/
.tw-button-blue {
  color: #3e728d;
  text-shadow: #b2d8f7;
  border-color: #5298b4;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#aac4f8), to(#6f97f3));
  background: -webkit-linear-gradient(top, #aac4f8, #6f97f3);
  background: -moz-linear-gradient(top, #aac4f8, #6f97f3);
  background: -o-linear-gradient(top, #aac4f8, #6f97f3);
  background: -ms-linear-gradient(top, #aac4f8, #6f97f3);
}
.tw-button-blue:hover {
  color: #3e728d;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#6f97f3), to(#aac4f8));
  background: -webkit-linear-gradient(top, #6f97f3, #aac4f8);
  background: -moz-linear-gradient(top, #6f97f3, #aac4f8);
  background: -o-linear-gradient(top, #6f97f3, #aac4f8);
  background: -ms-linear-gradient(top, #6f97f3, #aac4f8);
}
/**** GRADIENT BUTTON - Aqua ****/
.tw-button-aqua {
  color: #fff;
  text-shadow: 1px 1px 3px #333;
  border-color: #4D9BAD;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#5cb6ce), to(#45a4ba));
  background: -webkit-linear-gradient(top, #5cb6ce, #45a4ba);
  background: -moz-linear-gradient(top, #5cb6ce, #45a4ba);
  background: -o-linear-gradient(top, #5cb6ce, #45a4ba);
  background: -ms-linear-gradient(top, #5cb6ce, #45a4ba);
}
.tw-button-aqua:hover {
  color: #fff;
  border-color: #4D9BAD;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#79c9da), to(#5cb6ce));
  background: -webkit-linear-gradient(top, #79c9da, #5cb6ce);
  background: -moz-linear-gradient(top, #79c9da, #5cb6ce);
  background: -o-linear-gradient(top, #79c9da, #5cb6ce);
  background: -ms-linear-gradient(top, #79c9da, #5cb6ce);
}
/**** GRADIENT BUTTON - Navy ****/
.tw-button-navy {
  color: #fff;
  text-shadow: 1px 1px 3px #3f3f3f;
  border-color: #003366;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#546581), to(#2d4c7b));
  background: -webkit-linear-gradient(top, #546581, #2d4c7b);
  background: -moz-linear-gradient(top, #546581, #2d4c7b);
  background: -o-linear-gradient(top, #546581, #2d4c7b);
  background: -ms-linear-gradient(top, #546581, #2d4c7b);
}
.tw-button-navy:hover {
  color: #fff;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#445269), to(#203759));
  background: -webkit-linear-gradient(top, #445269, #203759);
  background: -moz-linear-gradient(top, #445269, #203759);
  background: -o-linear-gradient(top, #445269, #203759);
  background: -ms-linear-gradient(top, #445269, #203759);
}
/**** GRADIENT BUTTON - Purple ****/
.tw-button-purple {
  color: #fff;
  text-shadow: 1px 1px 3px #333;
  border-color: #c87f9b;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#c090bc), to(#b865b0));
  background: -webkit-linear-gradient(top, #c090bc, #b865b0);
  background: -moz-linear-gradient(top, #c090bc, #b865b0);
  background: -o-linear-gradient(top, #c090bc, #b865b0);
  background: -ms-linear-gradient(top, #c090bc, #b865b0);
}
.tw-button-purple:hover {
  color: #fff;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#b865b0), to(#c090bc));
  background: -webkit-linear-gradient(top, #b865b0, #c090bc);
  background: -moz-linear-gradient(top, #b865b0, #c090bc);
  background: -o-linear-gradient(top, #b865b0, #c090bc);
  background: -ms-linear-gradient(top, #b865b0, #c090bc);
}
/**** GRADIENT BUTTON - Coffee ****/
.tw-button-coffee {
  color: #7b5a41;
  text-shadow: 1px 1px 3px #e1bfa6;
  border-color: #b68a67;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ece0aa), to(#d1c58f));
  background: -webkit-linear-gradient(top, #ece0aa, #d1c58f);
  background: -moz-linear-gradient(top, #ece0aa, #d1c58f);
  background: -o-linear-gradient(top, #ece0aa, #d1c58f);
  background: -ms-linear-gradient(top, #ece0aa, #d1c58f);
}
.tw-button-coffee:hover {
  color: #7b5a41;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#dbd09e), to(#bab082));
  background: -webkit-linear-gradient(top, #dbd09e, #bab082);
  background: -moz-linear-gradient(top, #dbd09e, #bab082);
  background: -o-linear-gradient(top, #dbd09e, #bab082);
  background: -ms-linear-gradient(top, #dbd09e, #bab082);
}
/**** GRADIENT BUTTON - Brown ****/
.tw-button-brown {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  border-color: #715b53;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#675853), to(#453631));
  background: -webkit-linear-gradient(top, #675853, #453631);
  background: -moz-linear-gradient(top, #675853, #453631);
  background: -o-linear-gradient(top, #675853, #453631);
  background: -ms-linear-gradient(top, #675853, #453631);
}
.tw-button-brown:hover {
  color: #fff;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#453631), to(#675853));
  background: -webkit-linear-gradient(top, #453631, #675853);
  background: -moz-linear-gradient(top, #453631, #675853);
  background: -o-linear-gradient(top, #453631, #675853);
  background: -ms-linear-gradient(top, #453631, #675853);
}
/**** GRADIENT BUTTON - Gray ****/
.tw-button-gray {
  color: #666;
  text-shadow: 1px 1px 3px #d2d2d2;
  border-color: #bbbbbb;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#dbdbdb), to(#bebebe));
  background: -webkit-linear-gradient(top, #dbdbdb, #bebebe);
  background: -moz-linear-gradient(top, #dbdbdb, #bebebe);
  background: -o-linear-gradient(top, #dbdbdb, #bebebe);
  background: -ms-linear-gradient(top, #dbdbdb, #bebebe);
}
.tw-button-gray:hover {
  color: #666;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#bebebe), to(#dbdbdb));
  background: -webkit-linear-gradient(top, #bebebe, #dbdbdb);
  background: -moz-linear-gradient(top, #bebebe, #dbdbdb);
  background: -o-linear-gradient(top, #bebebe, #dbdbdb);
  background: -ms-linear-gradient(top, #bebebe, #dbdbdb);
}
/**** GRADIENT BUTTON - Dark Gray ****/
.tw-button-darkgray {
  color: #fff;
  text-shadow: 1px 1px 3px #3f3f3f;
  border-color: #444444;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#414141));
  background: -webkit-linear-gradient(top, #555555, #414141);
  background: -moz-linear-gradient(top, #555555, #414141);
  background: -o-linear-gradient(top, #555555, #414141);
  background: -ms-linear-gradient(top, #555555, #414141);
}
.tw-button-darkgray:hover {
  color: #fff;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#808080), to(#575757));
  background: -webkit-linear-gradient(top, #808080, #575757);
  background: -moz-linear-gradient(top, #808080, #575757);
  background: -o-linear-gradient(top, #808080, #575757);
  background: -ms-linear-gradient(top, #808080, #575757);
}
/**** GRADIENT BUTTON - Black ****/
.tw-button-black {
  color: #fff;
  text-shadow: 1px 1px 3px #3f3f3f;
  border-color: #444444;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#383738), to(#1a1a1a));
  background: -webkit-linear-gradient(top, #383738, #1a1a1a);
  background: -moz-linear-gradient(top, #383738, #1a1a1a);
  background: -o-linear-gradient(top, #383738, #1a1a1a);
  background: -ms-linear-gradient(top, #383738, #1a1a1a);
}
.tw-button-black:hover {
  color: #fff;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#5e5e5e), to(#303030));
  background: -webkit-linear-gradient(top, #5e5e5e, #303030);
  background: -moz-linear-gradient(top, #5e5e5e, #303030);
  background: -o-linear-gradient(top, #5e5e5e, #303030);
  background: -ms-linear-gradient(top, #5e5e5e, #303030);
}
/**** GRADIENT BUTTON - White ****/
.tw-button-white {
  color: #666;
  text-shadow: 1px 1px 3px #ffffff;
  border-color: #ccc;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#f0f0f0));
  background: -webkit-linear-gradient(top, #fafafa, #f0f0f0);
  background: -moz-linear-gradient(top, #fafafa, #f0f0f0);
  background: -o-linear-gradient(top, #fafafa, #f0f0f0);
  background: -ms-linear-gradient(top, #fafafa, #f0f0f0);
}
.tw-button-white:hover {
  color: #666;
  border-color: #aaa;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f0f0f0), to(#fafafa));
  background: -webkit-linear-gradient(top, #f0f0f0, #fafafa);
  background: -moz-linear-gradient(top, #f0f0f0, #fafafa);
  background: -o-linear-gradient(top, #f0f0f0, #fafafa);
  background: -ms-linear-gradient(top, #f0f0f0, #fafafa);
}
/**** GRADIENT BUTTON - Transparent Light ****/
.tw-button-transparentlight {
  color: #fff;
  border-color: #fff;
  background: none;
}
.tw-button-transparentlight:hover {
  color: #fff;
}
/**** GRADIENT BUTTON - Transparent Dark ****/
.tw-button-transparentdark {
  color: #333;
  border-color: #333;
  background: none;
}
.tw-button-transparentdark:hover {
  color: #333;
}
/**** SOLID BUTTONS ****/
.tw-button-red-flat,
.tw-button-lightred-flat,
.tw-button-yellow-flat,
.tw-button-orange-flat,
.tw-button-green-flat,
.tw-button-blue-flat,
.tw-button-navy-flat,
.tw-button-aqua-flat,
.tw-button-purple-flat,
.tw-button-coffee-flat,
.tw-button-brown-flat,
.tw-button-black-flat,
.tw-button-white-flat,
.tw-button-gray-flat,
.tw-button-darkgray-flat,
.tw-button-transparentlight-flat,
.tw-button-transparentdark-flat {
  transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}
.tw-button-red-flat:hover,
.tw-button-lightred-flat:hover,
.tw-button-yellow-flat:hover,
.tw-button-orange-flat:hover,
.tw-button-green-flat:hover,
.tw-button-blue-flat:hover,
.tw-button-navy-flat:hover,
.tw-button-aqua-flat:hover,
.tw-button-purple-flat:hover,
.tw-button-coffee-flat:hover,
.tw-button-brown-flat:hover,
.tw-button-black-flat:hover,
.tw-button-white-flat:hover,
.tw-button-gray-flat:hover,
.tw-button-darkgray-flat:hover,
.tw-button-transparentlight-flat:hover,
.tw-button-transparentdark-flat:hover {
  color: #fff;
  border-color: #222;
  background-color: #555;
}
.tw-button-red-flat {
  color: #fff;
  border-color: #8a2029;
  background-color: #b82525;
}
.tw-button-lightred-flat {
  color: #fff;
  border-color: #622929;
  background: #D55857;
}
.tw-button-orange-flat {
  color: #b23d21;
  border-color: #F47A15;
  background-color: #ffad65;
}
.tw-button-yellow-flat {
  color: #785d00;
  border-color: #d8a52a;
  background-color: #f6fa7b;
}
.tw-button-green-flat {
  color: #fff;
  border-color: #63a62f;
  background-color: #7fbf4d;
}
.tw-button-blue-flat {
  color: #3e728d;
  border-color: #5298b4;
  background-color: #aac4f8;
}
.tw-button-navy-flat {
  color: #fff;
  border-color: #003366;
  background-color: #546581;
}
.tw-button-aqua-flat {
  color: #fff;
  border-color: #4D9BAD;
  background: #5CB6CE;
}
.tw-button-purple-flat {
  color: #7b4559;
  border-color: #c87f9b;
  background-color: #c090bc;
}
.tw-button-coffee-flat {
  color: #7b5a41;
  border-color: #b68a67;
  background-color: #ece0aa;
}
.tw-button-brown-flat {
  color: #fff;
  border-color: #715b53;
  background: #675853;
}
.tw-button-black-flat {
  color: #fff;
  border-color: #444444;
  background-color: #383738;
}
.tw-button-white-flat {
  color: #666;
  border-color: #ccc;
  background-color: #fafafa;
}
.tw-button-gray-flat {
  color: #666;
  border-color: #bbbbbb;
  background-color: #dbdbdb;
}
.tw-button-darkgray-flat {
  color: #fff;
  border-color: #444444;
  background-color: #414141;
}
.tw-button-transparentlight-flat {
  color: #fff;
  border-color: #fff;
  background: none;
}
.tw-button-transparentdark-flat {
  color: #333;
  border-color: #333;
  background: none;
}
/**************************************************
NOTIFICATIONS
***************************************************/
.notifications .success {
  padding: 5px;
  border: 1px solid #090;
  color: #090;
  background-color: #9fc;
}
.notifications .warning {
  padding: 5px;
  border: 1px solid #fc0;
  color: #fc0;
  background-color: #ffc;
}
.notifications .error {
  padding: 5px;
  border: 1px solid #900;
  color: #900;
  background-color: #fc9;
}
.notifications .information {
  padding: 5px;
  border: 1px solid #036;
  color: #036;
  background-color: #9cf;
}
